<h2>Infinity WordPress Theme Changelog Information</h2>

<h3>1.2 [2013.03.12]</h3>
<p>Maintenance Release</p>
<ol>
  <li>Support for WordPress 3.5 features.</li>
  <li>Infinity Options panel has been improved and updated.</li>
  <li>Several changes in the code to make infinity more efficient.</li>
</ol>

<h3>1.1.1 [2012.06.18]</h3>
<p>Localization and Languages</p>

<h3>1.1 [2012.06.18]</h3>
<p>Maintenance Release</p>
<ol>
  <li>Settings Page Contextual Help logic has been improved according to WordPress 3.4</li>
  <li>add_theme_support( 'custom-header', $custom_header_support ); has been added.</li>
  <li>add_theme_support( 'custom-background', array( 'default-color' => 'fafafa' ) ); has been added.</li>
</ol>

<h3>1.0 [2012.06.08]</h3>
<p>Initial Release.</p>