<h2>Infinity WordPress Theme License Information</h2>

<ol>
	<li>License: GNU General Public License, GPLv3</li>
	<li>License URI: <a href="http://www.gnu.org/licenses/gpl-3.0.html">http://www.gnu.org/licenses/gpl-3.0.html</a></li>
    <li>For more information on this, and how to apply and follow the GNU GPL, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a></li>
</ol>

<p>This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.</p>

<p>This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>

<h3>Bundled Resources</h3>

<p><strong>jQuery Superfish Dropdown Menu Plugin</strong>: Copyright 2013, <a href="https://github.com/joeldbirch">Joel Birch</a></p>
<ol>
	<li>Source: <a href="https://github.com/joeldbirch/superfish">jQuery Superfish Dropdown Menu Plugin</a></li>
	<li>License: MIT License</li>
	<li>License URI: /lib/js/superfish/MIT-LICENSE.txt</li>
</ol>

<p><strong>jQuery Cookie</strong>: Copyright 2013, <a href="https://github.com/carhartl">Klaus Hartl</a></p>
<ol>
	<li>Source: <a href="https://github.com/carhartl/jquery-cookie">jQuery Cookie</a></li>
	<li>License: MIT License</li>
	<li>License URI: /lib/js/jquery-cookie/MIT-LICENSE.txt</li>
</ol>